################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsolePlusLib/obj/Debug
/.vs/ConsolePlusLib/v14
